# --- Core AI & Agent Logic ---
langchain-openai==1.1.10
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-sdk==0.3.9
langchain_text_splitters
langgraph-checkpoint-sqlite
langchain-pinecone==0.2.13

# --- Database & Vector Store ---
faker==40.8.0
pinecone>=7.0.0,<8.0.0

# --- API & Server ---
fastapi==0.135.1
uvicorn==0.41.0
python-dotenv==1.2.2

# --- Data Processing ---
pypdf==6.7.5
tiktoken==0.12.0

# --- Utils ---
pydantic==2.12.5
httpx==0.28.1

# ----- password hashing ---------
bcrypt==5.0.0

pytest